@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
body{
    font-family: "Doto", sans-serif;
    font-weight: 900;
    font-size:20px;
    background-color:gray;
}

@media screen and (max-width: 720px) {
    p {
        font-size: 15px;
        padding: 8px;
    }
}

#showiss, #showme {
    width:15%;
    background: rgba(255, 255, 255, 0.2);
    border:2px solid;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -13;
    object-fit: cover;
}


p{
    /* background: rgba(255, 255, 255, 0.2); */
    color: white;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    padding: 12px;
}


#latitude, #longitude{
    filter: blur(3px);
    transition: filter 0.3s ease;
}
#latitude:hover, #longitude:hover{
    filter: none;
}

h1 {
    background-color: lightgreen;
    margin:0px;
    text-align: center;
    border-radius:5px;
    padding:10px;
}

#atags{
    float:right;
}


#textbox{
    float:left;
    /* margin-top:10px; */
    /* display:grid; */
    /* row-gap:5px; */
}


#temperature {
    color: #e53935;
    font-weight: 900;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-container a.leaflet-popup-close-button{
    display: none;
}
